 .content {
    height: 1500px;
    background-color: lightyellow;
}

.static-box {
    width: 200px;
    height: 100px;
    background-color: lightgreen;
    align-content: center;
    text-align: center;
    position:static;
    z-index: 999;
}

.relative-box {
    width: 200px;
    height: 100px;
    color: white;
    background-color: blue;
    align-content: center;
    text-align: center;
     position:relative;
     z-index: 2;
     
}
.absolute-box {
    width: 200px;
    height: 100px;
    color: white;
    background-color: lightcoral;
    align-content: center;
    text-align: center;
    position:absolute;
    z-index: 2;
    
}

.fixed-box {
    width: 200px;
    height: 100px;
    color: white;
    background-color: lightseagreen;
    align-content: center;
    text-align: center;
    position:fixed;
    top:115px;
    z-index: 1;
}
.sticky-box {
    width: 200px;
    height: 100px;
    background-color: lightsalmon;
    align-content: center;
    text-align: center;
    position:sticky;
    z-index:2;
}
